:root {
	--main-bg-color: #fff;
	--main-text-color: #000;
	--main-text-mobile-color: #222;
	--main-text-link-color: #222;
	--header-fixed-color: #fff;
	--search-list-color: #000;
	--search-bg-color: #fff;
	--search-title-color: #1a0dab;
	--search-title-act-color: #1a0dab;
	--search-link-color: #202124;
	--search-video-date-color: #000;
	--search-results__name-color: #609;
	--page-number-color: #4285f4;
	--nav-link-active-color: #1a73e8;
	--nav-link-text-color: #5f6368;
	--logo-color: #000;
	--hint-active-color: #f3f3f3;
	--results-videos__item-color: #dfe1e5;
	--metadata__preview-link-color: #000;
	--load-more-color: #dfe1e5;
	--color-transparent-text-block: #f3f3f3;
	--header__form-color: #dfdfdf;
	--gray-color: #f3f3f3;
	--form-textarea-input: #fff;
	--input__drop-background-color: #dedede;
	--input-opacity-placeholder: 0.7;
	--input-opacity-placeholder-zero: 0;
	--list-hints-color: #fff;
	--start__info-background-color: #d2f576;
	--main__form-color: #fff0;
	--hint-bg-color: #000;
	--btn_search-bg-color: #f2f2f2;
	--btn_search-text-color: #5f6368;
	--btn_search-grad-color: #f8f8f8;
	--btn_search-grad-sec-color: #f1f1f1;
	--input-group-append-color: #fff;
	--results__item-hiver-color: #eee;
	--controllers__button-color: #fff;
	--glide__arrow-icon-color: #757575;
	--search-footer-bg-color: #f2f2f2;
	--footer-search-color: #70757a;
	--search-results__video-description: #353535;
	--background-modal-video: #00000050;
	--bg-hover-keyword: #b6b8bb;
	--bg-active-keyword: #fff;
	--voice--notification: #fff;
}

.dark {
	--main-bg-color: #2e2f33;
	--main-text-color: #fff;
	--main-text-mobile-color: #fff;
	--main-text-link-color: #858585;
	--header-fixed-color: #3a3a3a;
	--search-list-color: #b5b5b5;
	--search-bg-color: #444;
	--search-title-color: #aecfff;
	--search-title-act-color: #fff;
	--search-link-color: #fff;
	--search-video-date-color: #808080;
	--search-results__name-color: #b7a6f2;
	--page-number-color: #aecfff;
	--nav-link-active-color: #8ab4f8;
	--nav-link-text-color: #fff;
	--logo-color: #fff;
	--hint-active-color: #6d6d6d;
	--results-videos__item-color: #525252;
	--metadata__preview-link-color: #878787;
	--load-more-color: #fff;
	--color-transparent-text-block: #fff0;
	--header__form-color: #fff;
	--gray-color: #2e2f33;
	--form-textarea-input: #676767;
	--input__drop-background-color: #7b7b7b;
	--input-opacity-placeholder: 1;
	--input-opacity-placeholder-zero: 1;
	--list-hints-color: #585858;
	--start__info-background-color: #68890f;
	--main__form-color: #585858;
	--hint-bg-color: #b5b5b5;
	--btn_search-bg-color: #434447;
	--btn_search-text-color: #fff;
	--btn_search-grad-color: #626269;
	--btn_search-grad-sec-color: #626269;
	--input-group-append-color: #8ab4f8;
	--results__item-hiver-color: #b5b5b5;
	--controllers__button-color: #000;
	--glide__arrow-icon-color: #000;
	--search-footer-bg-color: #2e2f33;
	--footer-search-color: #fff;
	--search-results__video-description: #fff;
	--background-modal-video: #ffffff50;
	--bg-hover-keyword: #939393;
	--bg-active-keyword: #4b4b4b;
	--voice--notification: #585858;
}
