@import 'colors.css';

.news__text {
	margin: 60px 0;
}

.intro {
	padding-top: 85px;
	padding-bottom: 85px;
	color: var(--main-text-color);
}

.intro__text {
	color: var(--main-text-color);
}

.container-sm {
	padding: 0 15px;
}

.chevrone__intro {
	border-right: 4px solid var(--main-text-color);
	border-bottom: 4px solid var(--main-text-color);
}

.intro::after {
	background: #fff0;
}

.intro__wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
}

.intro__image {
	width: 45%;
	margin-left: 20px;
}

.board {
	height: 536px;
}

.news__photowrap {
	position: relative;
	display: block;
	width: -moz-min-content;
	width: min-content;
	margin: 0 auto;
}

.children-img-bg {
	position: absolute;
	top: -54px;
	right: 0;
}

.news__text-last {
	position: relative;
}

.child-faces-img-bg {
	position: absolute;
	top: -60px;
	right: -160px;
}

@media (max-width: 1300px) {
	.child-faces-img-bg {
		display: none;
	}
}

@media (max-width: 768px) {
	.intro__content {
		text-align: center;
	}

	.container-sm {
		padding: 0;
	}

	.intro__text {
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.news__text {
		margin: 40px 0;
	}

	.board {
		height: 350px;
		padding: 0 15px;
	}

	.children-img-bg {
		top: -33px;
		width: 37px;
	}
}

.girl-skater-img-bg {
	position: absolute;
	right: 20px;
	bottom: -172px;
}

@media (max-width: 900px) {
	.intro__wrap {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.intro__image {
		width: 100%;
		margin-top: 20px;
		margin-right: 20px;
		margin-bottom: 10px;
	}
}

@media (max-width: 768px) {
	.girl-skater-img-bg {
		display: none;
	}
}

@media (max-width: 600px) {
	.board {
		height: 260px;
	}
}

@media (max-width: 468px) {
	.board {
		height: 200px;
	}
}
