*{
   box-sizing: border-box !important;
}

html{
   //overflow: hidden;
}

html,body{
   //min-height: 100vh !important;
}

body{
   overflow: auto !important;
   //height: 100vh !important;

   // display: flex !important;
   // flex-direction: column;
   //justify-content: center;
   //align-items: center;
   
   & #___gcse_0{
      //flex: 1 1 100% !important;
      //height: 100% !important;
      //display: flex;
      //flex-direction: column;

      &>*{
         //f//lex: 1 1 auto !important;
      }
   }
}

._visible{
   display: block !important;

   // & *{
   // visibility: visible !important;
   // }
}

.gsc-results-wrapper-nooverlay{
   padding: 20px;
   padding-top: 0;
   padding-bottom: 0;
}

main{
   display: none !important;
}

#___gcse_0{
   //min-height: 100vh !important;
  // min-height: 100% !important;
//   padding-bottom: 0 !important;
//   padding-left: 0 !important;
//   padding-right: 0 !important;
}

.gsc-control-cse{
   padding: 0 !important;
}

.gsc-control-cse{
   //min-height: 100%;
}

.gsc-wrapper{
   min-height: 100% !important;
}
.gsc-results-wrapper-visible{
   //height: 500px;
}

.gsc-input-box{
   border-radius: 40px !important;
   height: 100%;
   display: flex;
   align-items: center;
   //padding: 10px;
   position: relative;
   z-index: 10;
   //border: 1.5px solid white;
   background-color: var(--search-background) !important;
   border: 1px solid var(--gray-100) !important;
   color: var(--text) !important;
   padding: 0 0 0 20px;

   &._focus{
      border: 1.5px solid #AADD22 !important;
      //border-right: none;
   }

   & tr{
      display: flex;
      align-items: center;
      margin: 0 10px 0 0;
   }

   &:focus{
      // transition: all 0.3s ease 0s;
      border: 4px solid green !important;
   }

   input{
      background: none;
      background: inherit !important;
      color: inherit !important;
   }

   // &:active{
   //    // transition: all 0.3s ease 0s;
   //    border: 4px solid green;
   // }
}

.gsib_b{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100% !important;
}

.gsc-search-button-v2{
   height: 100%;
   background: #AADD22 !important;
   color: white !important;
   font-size: 16px !important;
   border: none !important;
   position: absolute;
   right: 0px;
   top: 50%;
   transform: translate(0, -50%);
   padding: 0 16px 0 48px !important;
   z-index: -1;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 40px !important;
   font-family: inherit !important;
   font-weight: 700;
   cursor: pointer;

   &:hover{
      background: #6EAF19 !important;
   }

   & svg{
      display: none !important;
   }
}



// .gsc-control-cse{
//    width: 100%;
// }


.gsc-results-wrapper-nooverlay{
   display: flex;
   flex-direction: column;
   background: var(--background);

   &>*:last-child{
      flex: 1 1 auto;
   }
}

.gsc-expansionArea{
   padding-top: 20px;
   display: grid;
   // justify-content: start;
   // justify-items: start;
   gap: 20px;
   &>*{
      background-color: var(--background) !important;
   }

   //padding-left: 130px;
}

.gsc-result{
   border: none !important;
   border-radius: 10px !important;
   padding: 10px !important;

   background-color: var(--gray-50) !important;
}

.gs-webResult{
   // border-radius: 20px !important;
}

.gs-image-box{
   margin-right: 20px !important;
}

// .gsc-thumbnail-inside{
//    grid-column: 2;
//    grid-row: 1;
// }

// .gsc-url-top{
//    grid-column: 2;
//    grid-row: 2;
// }

// .gsc-table-result{
//    color: var(--text) !important;
//    grid-row: span 2;
//    justify-self: stretch;
// }

.gsc-results{
   //display: grid;
   //gap: 10px;
   margin-right: 0 !important;
   &._center{
      padding-left: 10px !important;
      padding-right: 10px !important;
   }
}

.gsc-webResult{
   margin-right: 0 !important;
}

.my-wrapper{
  
}

.gsc-cursor-page{
   background-color: var(--background) !important;
}

.gcsc-more-maybe-branding-root{
   display: none !important;
}

.gcsc-find-more-on-google-root{
   display: none !important;
}

.gsc-control-cse{
   border: none !important;
} 

.gsc-wrapper{
   background: var(--background);
}

#recaptcha-wrapper{
   &>*:first-child{
      color: var(--text);

      a{
         color: inherit;

         span{
            color: inherit;
         }
      }
   }
}

.gsc-cursor{
   fill: var(--link) !important;
}

.gsc-cursor-numbered-page{
   color: var(--link) !important;
}

.gsc-results .gsc-cursor-box{
   margin: 0 !important;
   margin-top: 30px !important;
}

@media(hover: hover){
   .gsc-cursor{
      display: flex !important;
      justify-content: flex-start !important;
      gap: 5px !important;
   }

   .gsc-cursor-page{
      border-radius: 50% !important;
      background-color: var(--gray-50) !important;
      flex: 0 0 30px !important;
      height: 30px !important;
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
   }

   .gsc-cursor-current-page{
      font-weight: 900 !important;
      cursor: pointer !important;
   }
}
